<!DOCTYPE html> 
@model EAD_Pro1.Models.User

    @{
        Layout = "~/Views/Shared/Layout.cshtml";
        }
      
			<div class="body">
				<div class="content-about">
					<div>
						<h3>Login</h3>
					</div>
					<div class="featured">
						<img src="~/images/sss.jpg" alt="">
					</div>
					<div>
						<div>
     

                           @using (Html.BeginForm("login","User",FormMethod.Post))
                            {
                                 @Html.AntiForgeryToken()
                                 @Html.ValidationSummary(true)
                               <h1>Login</h1>
                            <div class="inset">
                            <p>
                          
                            @Html.LabelFor(m=>m.Name)                                                                                                                                            
                            @Html.TextBoxFor(m => m.Name, new  {id="Name", Name="Name",style="color:red" })
                            @Html.ValidationMessageFor(model => model.Name)
                                                                                
                            @Html.LabelFor(m=>m.Password)                         
                            @Html.TextBoxFor(m => m.Password, new  {id="Password", Name="Password",style="color:red" })
                            @Html.ValidationMessageFor(model => model.Password)
                            </p>

                            </div>
                            <p class="p-container">
                                <div id="d1"><p style="color:red">@ViewBag.x</p></div>

                            <input type="submit" name="go" id="go" value="Log in">
                            </p> 
                            }
						</div>


						<div class="sidebar">
                            <div>
                                <div>
                                    <div>
                                <h3>You have to Login to buy Products. Enter Your UserName and password and gets logged in. Rest is simple. Just click on the products and add to cart.</h3>
                                    </div>
                                <div>
                            </div>
						</div>
					</div>
				</div>
             
			</div>
		</div>
	</div>
    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

